In [1]:
import pandas as pd
import numpy as np
dfo = pd.read_csv('./Dataset/pres16results.csv')
dfo.head()

  county fips             cand  st  pct_report       votes  total_votes       pct          lead
0    NaN   US     Donald Trump  US      0.9951  60350241.0  127592176.0  0.472993  Donald Trump
1    NaN   US  Hillary Clinton  US      0.9951  60981118.0  127592176.0  0.477938  Donald Trump
2    NaN   US     Gary Johnson  US      0.9951   4164589.0  127592176.0  0.032640  Donald Trump
3    NaN   US       Jill Stein  US      0.9951   1255968.0  127592176.0  0.009844  Donald Trump
4    NaN   US    Evan McMullin  US      0.9951    451636.0  127592176.0  0.003540  Donald Trump

In [11]:
top = dfo.loc[dfo.fips == 'US', ['cand','votes']].sort_values('votes',ascending=False)
top.head()

              cand       votes
1  Hillary Clinton  60981118.0
0     Donald Trump  60350241.0
2     Gary Johnson   4164589.0
3       Jill Stein   1255968.0
4    Evan McMullin    451636.0

In [13]:
candidates = top.cand.head()
candidates

1    Hillary Clinton
0       Donald Trump
2       Gary Johnson
3         Jill Stein
4      Evan McMullin
Name: cand, dtype: object

In [14]:
df = dfo[dfo.cand.isin(candidates)]
df

              county   fips             cand  st  pct_report       votes  total_votes       pct          lead
0                NaN     US     Donald Trump  US      0.9951  60350241.0  127592176.0  0.472993  Donald Trump
1                NaN     US  Hillary Clinton  US      0.9951  60981118.0  127592176.0  0.477938  Donald Trump
2                NaN     US     Gary Johnson  US      0.9951   4164589.0  127592176.0  0.032640  Donald Trump
3                NaN     US       Jill Stein  US      0.9951   1255968.0  127592176.0  0.009844  Donald Trump
4                NaN     US    Evan McMullin  US      0.9951    451636.0  127592176.0  0.003540  Donald Trump
...              ...    ...              ...  ..         ...         ...          ...       ...           ...
18346    King County  48269       Jill Stein  TX      1.0000         0.0        159.0  0.000000  Donald Trump
18347  Loving County  48301     Donald Trump  TX      1.0000        57.0         64.0  0.890625  Donald Trump
18348  Loving County  48301  Hillary Clinton  TX      1.0000         4.0         64.0  0.062500  Donald Trump
18349  Loving County  48301       Jill Stein  TX      1.0000         2.0         64.0  0.031250  Donald Trump
18350  Loving County  48301     Gary Johnson  TX      1.0000         1.0         64.0  0.015625  Donald Trump

[12949 rows x 9 columns]

In [15]:
p = df.pivot(index='fips',columns='cand',values='votes')
p

cand   Donald Trump  Evan McMullin  Gary Johnson  Hillary Clinton  Jill Stein
fips
10001       36989.0            NaN        2876.0          33347.0      1041.0
10003       85507.0            NaN        9101.0         162905.0      3955.0
10005       62607.0            NaN        2774.0          39329.0      1104.0
1001        18110.0            NaN         538.0           5908.0       105.0
1003        72780.0            NaN        2448.0          18409.0       453.0
...             ...            ...           ...              ...         ...
VT          95053.0            NaN       10047.0         178179.0      6748.0
WA        1043648.0            NaN      131779.0        1523720.0     46016.0
WI        1409467.0            NaN      106442.0        1382210.0     30980.0
WV         486198.0            NaN       22798.0         187457.0      8000.0
WY         174248.0            NaN       13285.0          55949.0      2512.0

[3165 rows x 5 columns]